// $action: #009200;
$navigation: rgba(5, 2, 57, 0.84);

// $action: #ffaa00;
$action: #fa9000;
// $text: whitesmoke;
$text: #f7efe5ea;
$accordionBtn: #07022e;

$textAccordion: rgba(255, 255, 255, 0.6);
$contactBg: linear-gradient(rgba(0, 41, 102, 0.44), rgba(2, 1, 19, 0.84));
$phone: rgba(28, 174, 28, 0.982);
